<div class="home-page text-center mt-5">
  <h1 class="mb-4">Bem-vindo ao Jogo de Perguntas</h1>
  <div class="d-grid gap-3 col-6 mx-auto">
    <a href="/jogar" class="btn btn-lg btn-success">Jogar</a>
    <a href="/admin" class="btn btn-lg btn-primary">Administração</a>
  </div>
</div>
